.chip-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  &:empty {
    display: none;
  }

  > .chip {
    position: relative;
  }

  > .chip:not(:first-child) {
    margin-left: .25rem;
  }
}