.chip {
  display: inline-flex;
  align-items: center;
  padding: .375rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;

  font-weight: 400;

  border: solid 1px;
  border-radius: .375rem;

  &:empty {
    display: none;
  }

  > .btn-close {
    margin-left: .375rem;
  }
}