button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn,
.dropdown-item,
.list-group-item-action,
.nav-link {
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}
