@font-face {
  font-family: 'Sparks-Dotline-Medium';
  src: url('/yonder/aftertheflood/Sparks-Dotline-Medium.eot');
  src:
    url('/yonder/aftertheflood/Sparks-Dotline-Medium.eot?#iefix') format('embedded-opentype'),
    url('/yonder/aftertheflood/Sparks-Dotline-Medium.woff2') format('woff2'),
    url('/yonder/aftertheflood/Sparks-Dotline-Medium.woff') format('woff'),
    url('/yonder/aftertheflood/Sparks-Dotline-Medium.ttf') format('truetype'),
    url('/yonder/aftertheflood/Sparks-Dotline-Medium.svg#Sparks-Dotline-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sparks-Dot-Medium';
  src: url('output/eot/Sparks-Dot-Medium.eot');
  src:
    url('/yonder/aftertheflood/Sparks-Dot-Medium.eot?#iefix') format('embedded-opentype'),
    url('/yonder/aftertheflood/Sparks-Dot-Medium.woff2') format('woff2'),
    url('/yonder/aftertheflood/Sparks-Dot-Medium.woff') format('woff'),
    url('/yonder/aftertheflood/Sparks-Dot-Medium.ttf') format('truetype'),
    url('/yonder/aftertheflood/Sparks-Dot-Medium.svg#Sparks-Dot-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sparks-Bar-Medium';
  src: url('/yonder/aftertheflood/Sparks-Bar-Medium.eot');
  src:
    url('/yonder/aftertheflood/Sparks-Bar-Medium.eot?#iefix') format('embedded-opentype'),
    url('/yonder/aftertheflood/Sparks-Bar-Medium.woff2') format('woff2'),
    url('/yonder/aftertheflood/Sparks-Bar-Medium.woff') format('woff'),
    url('/yonder/aftertheflood/Sparks-Bar-Medium.ttf') format('truetype'),
    url('/yonder/aftertheflood/Sparks-Bar-Medium.svg#Sparks-Bar-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

%sparks {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: contextual;
  font-feature-settings: 'calt' 1, 'kern' 1;
  font-kerning: normal;
  -webkit-font-feature-settings: 'calt', 'kern';
  -moz-font-feature-settings: 'calt=1', 'kern=1';
}

.sparks-dot {
  font-family: Sparks-Dot-Medium, sans-serif;

  @extend %sparks;
}

.sparks-bar {
  font-family: Sparks-Bar-Medium, sans-serif;

  @extend %sparks;
}

.sparks-dotline {
  font-family: Sparks-Dotline-Medium, sans-serif;

  @extend %sparks;
}
