$bs-light: #FAF9FA;
$bs-dark: #343A40;

$bs-colors: (
    primary: #007BFF,
    secondary: #868E96,
    success: #28C997,
    info: #17A2B8,
    warning: #FFC107,
    danger: #DC3545
);

$bar-height: 1rem;
$bar-width: 100%;

$thumb-size: 1.15rem;
$thumb-color: $bs-dark;
$thumb-bg: $bs-dark;
$thumb-border: solid 2px $bs-light;
$thumb-radius: 0;
$thumb-cursor: pointer;

.dull-range-input {

    /* thumb */
    .thumb-circle {
	// chrome
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    &::-webkit-slider-thumb {
		border-radius: 50%;
		-webkit-border-radius: 50%;
	    }
	}
	
	&::-moz-range-thumb {
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	}
    }
    /* end thumb */

    input[type="range"] {
	
	/* slider and thumb defaults */
	// chrome
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    & {
		width: $bar-width;
		height: $bar-height;
		-webkit-appearance: none;
		background-color: $bs-light;
	    }
	    
	    &::-webkit-slider-runnable-track {
		height: $bar-height;
		-webkit-appearance: none;
		margin-top: -1px;
	    }
	    
	    &::-webkit-slider-thumb {
		width: $thumb-size;
		height: $thumb-size;
		-webkit-appearance: none;
		cursor: $thumb-cursor;
		
		background: $bs-dark;
		color: $bs-dark;

		border: $thumb-border;
		border-radius: $thumb-radius;
	    }
	}

	// firefox
	&::-moz-range-progress {
	    height: $bar-height;
	}

	&::-moz-range-track {
	    height: $bar-height;
	    background-color: $bs-light;
	}
	
	&::-moz-range-thumb {
	    width: $thumb-size;
	    height: $thumb-size;
	    cursor: $thumb-cursor;
	    background: $thumb-bg;
	    color: $thumb-color;

	    border: $thumb-border;
	    border-radius: $thumb-radius;
	}

	// explorer
	&::-ms-fill-lower {
	    //	background-color: $value;
	}

	&::-ms-fill-upper {
	    background-color: $bs-light;
	}
    }
    /* end defaults */

    /* slider contexts */
    @each $key, $value in $bs-colors {

	input.range-#{$key}[type="range"] {
	    // chrome
	    @media screen and (-webkit-min-device-pixel-ratio:0) {
		&::-webkit-slider-runnable-track {
		    color: $value;
		}
	    }

	    // firefox
	    &::-moz-range-progress {
		background-color: $value;
	    }

	    // explorer
	    &::-ms-fill-lower {
		background-color: $value;
	    }
	}
    }
    /* end contexts */

}
