@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$light: #FAF9FA;
$dark: #343A40;

$colors: (
    primary: #007BFF,
    secondary: #868E96,
    success: #28C997,
    info: #17A2B8,
    warning: #FFC107,
    danger: #DC3545
);

$radius: .25rem;

// Color contrast
@function color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    @return $gray-900;
  } @else {
    @return #FFF;
  }
}

.range {
    @include no-select;
    
    .irs-line-mid,
    .irs-line-left,
    .irs-line-right,
    .irs-grid-pol {
	background: $gray-200;
    }

    .irs-bar-edge,
    .irs-to,
    .irs-from,
    .irs-single,
    .irs-slider,
    .irs-line-left,
    .irs-line-mid,
    .irs-line-right {
	cursor: pointer;
    }

    .irs-bar {
	cursor: pointer;

	&.draggable {
	    cursor: grab;
	    cursor: -webkit-grab;
	}
    }

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single,
    .irs-slider {
	border-radius: $radius;
    }

    .irs-line-left {
	border-radius: $radius 0 0 $radius;
    }
    
    .irs-line-right {
	border-radius: 0 $radius $radius 0;
    }
    
    .irs-bar-edge {
	border-radius: $radius 0 0 $radius;
    }

    .irs-min,
    .irs-max {
	color: $gray-700;
	background: $gray-200;
    }

    .irs-grid-text {
	color: $gray-700;
    }
}


// range colors
@each $key, $color in $colors { 
    .range-#{$key} {
	.irs-bar,
	.irs-bar-edge,
	.irs-to,
	.irs-from,
	.irs-single,
	.irs-slider {
	    background: $color;
	}

	.irs-slider {
	    &:hover,
	    &:focus {
		background: darken($color, 7.5%);
	    }
	}

	.irs-to,
	.irs-from,
	.irs-single {
	    &::after {
		border-top-color: $color;
	    }
	}
    }
}
