// button

.btn {
  &.focus,
  &:focus {
    box-shadow: none;
  }
}

.dull-checkbar-input,
.dull-radiobar-input {
  border-radius: 0.25em;

  .btn {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 0.25em;
    }
  }

  .btn:not(:last-child) {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .btn:not(:first-child) {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .btn + .btn {
    margin-left: 0;
  }
}
