.dull-dropdown-input {
  border-radius: 0.25em;
  border-color: transparent;

  a {
    cursor: pointer;
  }

  & > .btn {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }
}
