.yonder-select {
  width: 100%;

  input::placeholder {
    color: #343a40;
  }

  .custom-select {
    cursor: pointer;

    &[aria-expanded="true"] {
      cursor: text;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .dropdown-menu {
    min-width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    .mismatched {
      display: none;
    }
  }
}
