.dull-range-input {
  /* thumb */
  /* end thumb */
  /* end defaults */
  /* slider contexts */
  /* end contexts */ }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input .thumb-circle::-webkit-slider-thumb {
      border-radius: 50%;
      -webkit-border-radius: 50%; } }
  .dull-range-input .thumb-circle::-moz-range-thumb {
    border-radius: 50%;
    -moz-border-radius: 50%; }
  .dull-range-input input[type="range"] {
    /* slider and thumb defaults */ }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .dull-range-input input[type="range"] {
        width: 100%;
        height: 1rem;
        -webkit-appearance: none;
        background-color: #FAF9FA; }
      .dull-range-input input[type="range"]::-webkit-slider-runnable-track {
        height: 1rem;
        -webkit-appearance: none;
        margin-top: -1px; }
      .dull-range-input input[type="range"]::-webkit-slider-thumb {
        width: 1.15rem;
        height: 1.15rem;
        -webkit-appearance: none;
        cursor: pointer;
        background: #343A40;
        color: #343A40;
        border: solid 2px #FAF9FA;
        border-radius: 0; } }
    .dull-range-input input[type="range"]::-moz-range-progress {
      height: 1rem; }
    .dull-range-input input[type="range"]::-moz-range-track {
      height: 1rem;
      background-color: #FAF9FA; }
    .dull-range-input input[type="range"]::-moz-range-thumb {
      width: 1.15rem;
      height: 1.15rem;
      cursor: pointer;
      background: #343A40;
      color: #343A40;
      border: solid 2px #FAF9FA;
      border-radius: 0; }
    .dull-range-input input[type="range"]::-ms-fill-upper {
      background-color: #FAF9FA; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-primary[type="range"]::-webkit-slider-runnable-track {
      color: #007BFF; } }
  .dull-range-input input.range-primary[type="range"]::-moz-range-progress {
    background-color: #007BFF; }
  .dull-range-input input.range-primary[type="range"]::-ms-fill-lower {
    background-color: #007BFF; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-secondary[type="range"]::-webkit-slider-runnable-track {
      color: #868E96; } }
  .dull-range-input input.range-secondary[type="range"]::-moz-range-progress {
    background-color: #868E96; }
  .dull-range-input input.range-secondary[type="range"]::-ms-fill-lower {
    background-color: #868E96; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-success[type="range"]::-webkit-slider-runnable-track {
      color: #28C997; } }
  .dull-range-input input.range-success[type="range"]::-moz-range-progress {
    background-color: #28C997; }
  .dull-range-input input.range-success[type="range"]::-ms-fill-lower {
    background-color: #28C997; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-info[type="range"]::-webkit-slider-runnable-track {
      color: #17A2B8; } }
  .dull-range-input input.range-info[type="range"]::-moz-range-progress {
    background-color: #17A2B8; }
  .dull-range-input input.range-info[type="range"]::-ms-fill-lower {
    background-color: #17A2B8; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-warning[type="range"]::-webkit-slider-runnable-track {
      color: #FFC107; } }
  .dull-range-input input.range-warning[type="range"]::-moz-range-progress {
    background-color: #FFC107; }
  .dull-range-input input.range-warning[type="range"]::-ms-fill-lower {
    background-color: #FFC107; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .dull-range-input input.range-danger[type="range"]::-webkit-slider-runnable-track {
      color: #DC3545; } }
  .dull-range-input input.range-danger[type="range"]::-moz-range-progress {
    background-color: #DC3545; }
  .dull-range-input input.range-danger[type="range"]::-ms-fill-lower {
    background-color: #DC3545; }
