@import '../../node_modules/bootstrap/scss/buttons';

@include button-active-variant();

.yonder-link {
  &:not(.dropdown-item) {
    padding: 0 !important;
    vertical-align: inherit !important;
  }
}

.btn {
  cursor: pointer;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}
