.yonder-chip {
  width: 100%;
  display: block;

  & > input[data-toggle="dropdown"] {
    margin-bottom: .25rem;
  }

  .dropdown-menu {
    min-width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    .filtered,
    .selected {
      display: none;
    }
  }

  .dropdown-item {
    white-space: normal;
    cursor: pointer;
  }
}

.chips {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.chips-inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.chips-block {
  flex-direction: column;

  .chip-close {
    margin-right: .25rem;
  }
}

.chips-inline {
  margin-left: -.5rem;

  .active {
    margin-left: .5rem;
  }
}

.chip {
  display: none;
  align-items: center;
  padding: .25rem;
  margin: .25rem 0;
  @include font-size($badge-font-size);
  // font-size: $badge-font-size;
  font-weight: 500; // $badge-font-weight;
  line-height: 1;
  white-space: normal;
  box-shadow: none;
  border: 1px solid transparent;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);
  cursor: pointer;

  &.active {
    display: flex;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  .chips-block & {
    width: 100%;
  }

  .chips-shadow & {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
}

.chip-content {
  flex-grow: 1;
}

.chip-close {
  margin-left: .5rem;
  text-shadow: 0 1px 0 #fff;
  float: right;
  font-weight: 700;
  line-height: 1;
  opacity: .65;
  transform: translateY(-10%); // I don't like this.
}

@include chip-active-variant();
