@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700|Open+Sans:400,400i,700');
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Fira Code';
  font-weight: 400;
}
