.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #837d7a } /* Comment */
.highlight .k { color: #d7ae38; font-weight: bold } /* Keyword */
.highlight .n { color: #628b97 } /* Name */
.highlight .ch { color: #837d7a } /* Comment.Hashbang */
.highlight .cm { color: #837d7a } /* Comment.Multiline */
.highlight .cp { color: #837d7a } /* Comment.Preproc */
.highlight .cpf { color: #837d7a } /* Comment.PreprocFile */
.highlight .c1 { color: #837d7a } /* Comment.Single */
.highlight .cs { color: #837d7a } /* Comment.Special */
.highlight .kc { color: #d7ae38; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #d7ae38; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #d7ae38; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #d7ae38; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #d7ae38; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #d7ae38; font-weight: bold } /* Keyword.Type */
.highlight .s { color: #88a2a4 } /* Literal.String */
.highlight .na { color: #628b97 } /* Name.Attribute */
.highlight .nb { color: #628b97 } /* Name.Builtin */
.highlight .nc { color: #c4c18b; font-weight: bold } /* Name.Class */
.highlight .no { color: #628b97 } /* Name.Constant */
.highlight .nd { color: #628b97 } /* Name.Decorator */
.highlight .ni { color: #628b97 } /* Name.Entity */
.highlight .ne { color: #628b97 } /* Name.Exception */
.highlight .nf { color: #7bb292 } /* Name.Function */
.highlight .nl { color: #628b97 } /* Name.Label */
.highlight .nn { color: #628b97 } /* Name.Namespace */
.highlight .nx { color: #628b97 } /* Name.Other */
.highlight .py { color: #628b97 } /* Name.Property */
.highlight .nt { color: #628b97 } /* Name.Tag */
.highlight .nv { color: #628b97 } /* Name.Variable */
.highlight .sa { color: #88a2a4 } /* Literal.String.Affix */
.highlight .sb { color: #88a2a4 } /* Literal.String.Backtick */
.highlight .sc { color: #88a2a4 } /* Literal.String.Char */
.highlight .dl { color: #88a2a4 } /* Literal.String.Delimiter */
.highlight .sd { color: #88a2a4 } /* Literal.String.Doc */
.highlight .s2 { color: #88a2a4 } /* Literal.String.Double */
.highlight .se { color: #88a2a4 } /* Literal.String.Escape */
.highlight .sh { color: #88a2a4 } /* Literal.String.Heredoc */
.highlight .si { color: #88a2a4 } /* Literal.String.Interpol */
.highlight .sx { color: #88a2a4 } /* Literal.String.Other */
.highlight .sr { color: #88a2a4 } /* Literal.String.Regex */
.highlight .s1 { color: #88a2a4 } /* Literal.String.Single */
.highlight .ss { color: #88a2a4 } /* Literal.String.Symbol */
.highlight .bp { color: #628b97 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #7bb292 } /* Name.Function.Magic */
.highlight .vc { color: #628b97 } /* Name.Variable.Class */
.highlight .vg { color: #628b97 } /* Name.Variable.Global */
.highlight .vi { color: #628b97 } /* Name.Variable.Instance */
.highlight .vm { color: #628b97 } /* Name.Variable.Magic */
