// active variants

@mixin button-active-variant() {
  .btn-group-toggle {
    @each $color, $value in $theme-colors {
      &.active-#{$color} .btn {
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
          color: color-yiq($value);
          background-color: $value;
          border-color: darken($value, 10%);

          &:focus,
          &.focus {
            box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($value), $value, 15%), .5);
          }
        }
      }
    }
  }
}

@mixin nav-active-variant() {
  .nav-tabs {
    @each $color, $value in $theme-colors {
      &.active-#{$color} .active {
        color: color-yiq($value);
        background-color: $value;
        border-color: $value $value $body-color;
      }
    }
  }

  .nav-pills {
    @each $color, $value in $theme-colors {
      &.active-#{$color} .active {
        color: color-yiq($value);
        background-color: $value;
      }
    }
  }
}

@mixin list-group-active-variant() {
  .list-group {
    @each $color, $value in $theme-colors {
      &.active-#{$color} .active {
        color: color-yiq($value);
        background-color: $value;
        border-color: $value;
      }
    }
  }
}

@mixin custom-control-active-variant() {
  @each $color, $value in $theme-colors {
    .active-#{$color} {
      .custom-checkbox, .custom-radio {
        .custom-control-input:checked ~ .custom-control-label {
          &::before {
            background-color: $value;
            border-color: $value;
            box-shadow: inset 0 1px 1px rgba($value, .75);
          }
        }
      }

      .custom-switch {
        .custom-control-input:checked ~ .custom-control-label {
          &::before {
            background-color: $value;
            border-color: $value;
          }
        }
      }
    }
  }
}
