@mixin chip-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;

  @at-root #{&} {
    @include hover-focus {
      color: color-yiq($bg);
      background-color: darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $input-btn-focus-width rgba($bg, .5);
    }
  }
}
