bsides-multi-select {
  display: block;

  > bsides-chip-group {
    margin-bottom: .375rem;

    &:not(:has(bsides-chip)) {
      margin-bottom: 0;
    }
  }

  > .multi-select-input {
    display: block;
    width: 100%;
  }
}
